*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
    line-height: 1;
}

body{
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.sidebar-navigation{
    display: inline-block;
    min-height: 100vh;
    width: 75px;
    background-color: #313433;
}
.sidebar-navigation ul{
    text-align: center;
    color: #fff;
}

.sidebar-navigation ul li{
    padding: 20px 0;
    cursor: pointer;

    transition: all ease-out 120ms;
}

.sidebar-navigation ul li i{
    display: block;
    font-size: 25px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip{
    display: inline-block;
    position: absolute;
    background-color: #313433;
    padding: 8px 15px;
    border-radius: 3px ;
    margin-top: -26px;
    margin-left: 55px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.sidebar-navigation ul li .tooltip::before{
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}
.sidebar-navigation ul li:hover{
    background-color: #22252e;
}
.sidebar-navigation ul li:hover .tooltip{
    visibility: visible;
    opacity: 1;

}
